html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, 
form, input, div {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #81f7f3;
  color: #fff;
  height: 120px;
  font-family: cursive;
}

.header-logo {
  float: left;
  color: #000000;
  font-size: 40px;
  padding: 25px 40px;
  font-family: "courier new;
}

div.image_circle {
  width: 100px
  height: 100px;
  border-radius: 50%;
  backgrond-position: center;
}

.main {
  padding: 100px 80px;
  font-style: italic;
}

.copy-container h2 {
  font-size: 70px;
}

.copy-container span {
  color: #ff4a4a;
}

.section-title {
  font-size: 40px;
}

p{
  border: 3px solid;
}




ul{
 float: left;
  padding: 40px 20px;
  font-size: 20px;
}

.contents-item p {
  font-size: 30px;
}




.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
         
                              
                              .footer {            
                                background-color: #f6cece;            
                                 color: #fff;            
                                height: 120px;            
                                 padding: 40px;            
                               }            
                               
                               .footer-logo {            
                                float: left;
                                 color: #000000;
                                 font-size: 60px;            
                               }            
                               
                               .footer-list {            
                                 float: right;          
                               }            
                               
                               .footer-list ul {            
                                 padding-bottom: 15px;
                                 color: #000000;
padding: 40px 90px 10px 0px;
list-style: left;                                

p{
  padding:40px 0px 0px 0px;
}
