html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, 
form, input, div {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 100px;
  font-family: cursive;
}

.header-logo {
  float: left;
  font-size: 40px;
  padding: 20px 40px;
}

.main {
  padding: 100px 80px;
  font-style: italic;
}

.copy-container h1 {
  font-size: 100px;
}

.copy-container h2 {
  font-size: 70px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 300px;
  margin-top: 90px;
}

.section-title {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

ul{
 float: left;
  padding: 33px 20px;
}

.contents-item p {
  font-size: 24px;
}

.contact-form {
  padding-top: 100px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
         
                              
                              .footer {            
                                background-color: #2f5167;            
                                 color: #fff;            
                                height: 120px;            
                                 padding: 40px;            
                               }            
                               
                               .footer-logo {            
                                float: left;            
                                 font-size: 50px;            
                               }            
                               
                               .footer-list {            
                                 float: right;          
                               }            
                               
                               .footer-list ul {            
                                 padding-bottom: 20px;
padding: 33px 90px 10px 0px;
list-style: left;                                
                               }
.kama{
  font-size: 20px;
}

p{
  padding:40px 0px 0px 0px;
}
